.hero-section {
  position: relative;
  @include respond-below(lg) {
    margin-bottom: 70px;
  }
}

.hero-section__content {
  clip-path: polygon(0 0, 100% 0, 100% 63%, 0% 100%);
  width: 100%;
  background-color: $primary-clr;
  height: 110vh;

  @include respond-below(lg) {
    width: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    height: 100vh;
  }
}

.hero-section__content__inner {
  background-image: url(//dumsld4by7gdn.cloudfront.net/assets/ixperience/summer/background-remote-md-4f5bab586ef1d74cb8a5dff71588523637fd63b4d403b61e5ba44023c100c3e8.jpg);
  clip-path: polygon(0 0, 100% 0, 100% 60%, 0% 100%);
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 90%;
  width: 100%;
  background-color: transparentize(black, 0.15);
  display: flex;
  align-items: center;

  @include respond-below(lg) {
    width: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    height: 100%;
  }

  @include respond-below(sm) {
    background-image: url(//dumsld4by7gdn.cloudfront.net/assets/ixperience/summer/background-remote-sm-bde8efb428cf6cf3b7f4e9a6ed26bffa2250ce17b6bfdf0a41b99f1c7fb2cd93.jpg);
  }

  .hero-text-container {
    color: white;
    width: 65%;
    margin-top: -10%;

    @include respond-below(lg) {
      width: 100%;
      text-align: center;
    }

    .hero-action-wrapper {
    }

    .hero-action-wrapper__btn-primary {
      @extend .btn;
      @extend .btn-success;
      @extend .btn-lg;

      @include respond-below(lg) {
        width: 100%;
      }
    }

    .hero-action-wrapper__btn-transparent {
      @extend .btn;
      @extend .btn-transparent;
      @extend .btn-lg;
      margin-right: 10px;
      //margin-bottom: 15px;

      @include respond-below(lg) {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
      }
    }
  }
}

.hero-section__image-wrapper {
  @extend .float-up-down;
  position: absolute;
  bottom: 15%;
  width: 30%;
  right: 8%;

  & > img {
    width: 100%;
  }

  @include respond-below(lg) {
    bottom: -25%;
    right: 0;
    width: 320px;
  }
}
