.pulse {
  animation: pulse 2s infinite;
}

.pulse--small {
  animation: pulse--small 3s infinite;
}

.float-up-down {
  animation: float-up-down 4s ease-in-out infinite;
}

.size-up-down {
  animation: sizeUpDown 2000ms ease-in-out infinite;
}

@keyframes sizeUpDown {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}


@keyframes float-up-down {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-15px);
  }

  100% {
    transform:  translateY(0px);
  }
}



@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 transparentize($primary-clr, 0.7);
  }

  70% {
    box-shadow: 0 0 0 30px rgba(0, 0, 0, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

@keyframes pulse--small {
  0% {
    box-shadow: 0 0 0 0 transparentize($primary-clr, 0.7);
  }

  70% {
    box-shadow: 0 0 0 15px rgba(0, 0, 0, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}